.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 100vh;
    min-width: 100vw;
    background-color: #3F3F40;
}


.wrapper {
    position: relative;
    align-items: center;
    text-align: center;
    min-width: 50vw;
    min-height: 50vh;
    outline-style: solid;
    outline-width: 1px;
    outline-color: rgba(0, 0, 0, 0.1);
}


.LogoWrapper {
    position: absolute;
    z-index: 10;
    top: 46%;
    left: 48.5%;
}

@keyframes logo-animation {
    0% 
    {
        top: 46%;
        left: 48.5%;
    } 
    50%
    {
        top: 46.5%;
        left: 49%;
    }
    100%
    {
        top: 46%;
        left: 48.5%;
    }
    
}

.Logo {
    height: 80px;
    width: 80px;
}

.LogoWrapper:hover{
    cursor: pointer;
    animation: logo-animation 0.5s;
    animation-timing-function: ease-in-out;
}


.wrapper > div {
    font-size: 68px;
    align-items: center;
    text-align: center;
    padding-top: 50px;
}

