.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 100vh;
    min-width: 100vw;
    background-color: #3F3F40;
}

.wrapper{
    align-items: center;
    text-align: center;
    min-width: 50vw;
    min-height: 50vh;
    outline-style: solid;
    outline-width: 1px;
    outline-color: rgba(0, 0, 0, 0.1);
}

.Logo {
    display: block;
    position: static;
    align-items: center;
    left: 50%;
    top: 50%;
}


.wrapper > div {
    font-size: 68px;
    align-items: center;
    text-align: center;
    padding-top: 50px;
}

