@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
form {
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    max-width: 50vw;
    max-height: 50vh;
}
.Campos {
    font-family: 'Open Sans', 'sans-serif';
    margin-top: -50px;
}

.Aviso {
    font-size: 50px;
}

.Previsao {
    font-size: 30px;
}

.inputAviso {
    background-color: #3F3F40;
    color: #F2F2F2;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    box-sizing: border-box;
    border: none;
    border-bottom: solid;
    border-color: #F27127;
    border-width: 1px;
    font-size: 30px;
    font-family: 'Open Sans', 'sans-serif';
    resize: none;
}

input[type=text]:focus {
    background-color: #F2F2F2;
    color: #3F3F40;
    border: solid;
    border-width: 1px;
    border-color: #F27127;
}

.inputPrevisao {
    background-color: #3F3F40;
    color: #F2F2F2;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    border: none;
    border-bottom: solid;
    border-color: #F27127;
    border-width: 1px;
    font-size: 30px;
    font-family: 'Open Sans','sans-serif';
    resize: none;
}

input[type=time]:focus {
    background-color: #F2F2F2;
    color: #3F3F40;
    border: solid;
    border-width: 1px;
    border-color: #F27127;
}

.btnEnviar {
    font-family: 'Open Sans','sans-serif';
    font-size: 30px;
    background-color: #F27127;
    border: none;
    border-radius: 8px;
    color: #F2F2F2;
    cursor: pointer;
    padding: 12px 40px;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 0 4px rgba(255, 255, 255, 0.3);
}

button {
    transition-duration: 0.2s;
}

button:hover {
    background-color: #D95829;
    color: #3F3F40; 
}

button:active {
    background-color: #D95829;
    box-shadow: 0 2px rgba(255, 255, 255, 0.3);
    transform: translateY(3px);
}